.Header {
    display: flex;
    border-bottom: 1px solid #d5d8de;
}
  
.Header img {
    width: 35px;
    height: 35px;
    padding: 15px;
}
  
.Header input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    border: none;
}
  
.Header input:focus{
    outline: none;
}